Repository qt4cg/qtspecs, pull requests merged in 2024-10, with the labels that each got.

#1465 1461 Generate correct tests for functions involving named record types
  specifications/xpath-functions-40/src/fos.xsd
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
  specifications/xpath-functions-40/style/generate-keyword-test-set.xsl
  specifications/xpath-functions-40/style/merge-function-specs.xsl
Labels: Bug, Build

#1437 1325 Variadic System Functions limited to `fn:concat`
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
Labels: Tests Needed

#1466 1464 Standardize on "implementer" spelling
  specifications/xpath-datamodel-40/src/xpath-datamodel.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
  specifications/xquery-40/src/back-matter.xml
  specifications/xquery-40/src/expressions.xml
  specifications/xslt-xquery-serialization-40/src/xslt-xquery-serialization.xml
Labels: Editorial, Propose Merge without Discussion

#1482 1468 Revise the xsl:array instruction
  specifications/xslt-40/src/element-catalog.xml
  specifications/xslt-40/src/xslt.xml
Labels: XSLT, Enhancement, Tests Needed

#1481 1448 Component extraction on gregorian types
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
Labels: XQFO, Feature, Tests Needed

#1477 1475 Stylesheet change to mark optional fields with '?'
  specifications/xpath-functions-40/style/merge-function-specs.xsl
Labels: XQFO, Editorial, Propose Merge without Discussion, Build

#1476 1474 xml-to-json: ensure numbers are JSON conformant
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
Labels: XQFO, Enhancement, Propose Merge without Discussion, Tests Added

#1480 1450 Disallow reserved names in element/attribute constructors
  specifications/grammar-40/xpath-grammar.xml
  specifications/xquery-40/src/ebnf.xml
  specifications/xquery-40/src/errors.xml
  specifications/xquery-40/src/expressions.xml
  specifications/xquery-40/src/query-prolog.xml
  specifications/xslt-40/src/xslt.xml
Labels: XQuery, Enhancement, Blocked, Tests Needed

#1492 1312 Add ws:explicit annotations
  specifications/grammar-40/xpath-grammar.xml
  specifications/xquery-40/src/ebnf.xml
Labels: XPath, XQuery, Editorial, Propose Merge without Discussion

#1490 1308 In fn:apply, Correct $array to $arguments
  specifications/xpath-functions-40/src/function-catalog.xml
Labels: XQFO, Editorial, Propose Merge without Discussion

#1489 1483 return type of fn:error
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
Labels: Propose Merge without Discussion

#1467 Modest editorial corrections to XSLT specs through 2.7
  specifications/xslt-40/src/xslt.xml
Labels: XSLT, Editorial, Propose Merge without Discussion

#1378 1375 bugs in pattern syntax
  specifications/grammar-40/xpath-grammar.xml
  specifications/xpath-functions-40/style/merge-function-specs.xsl
  specifications/xslt-40/src/xslt.xml
  specifications/xslt-40/style/xslt.xsl
Labels: Bug, XSLT, Tests Needed

#1442 1394 Add new default priority rules
  specifications/xquery-40/src/expressions.xml
  specifications/xslt-40/src/xslt.xml
Labels: Bug, XSLT, Tests Added

#1488 1487 in xsl:array, drop option to construct arrays from arrays
  specifications/xslt-40/src/xslt.xml
Labels: XSLT, Tests Added, Reversion

#1502 1458 Arguments that have a default value but don't accept ()
  specifications/xpath-functions-40/src/function-catalog.xml
Labels: Propose Merge without Discussion

#1513 1512 Disallow reserved names in namespace and PI constructors
  specifications/grammar-40/xpath-grammar.xml
  specifications/xquery-40/src/ebnf.xml
  specifications/xquery-40/src/expressions.xml
Labels: XQuery, Enhancement, Tests Added

#1511 1345 Re-allow bare-brace map constructors everywhere
  specifications/grammar-40/xpath-grammar.xml
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xquery-40/src/expressions.xml
  style/character-names.json
Labels: XPath, XQuery, Tests Added, Reversion

#1508 1507 Make format-integer spec legible
  specifications/xpath-functions-40/src/function-catalog.xml
Labels: XQFO, Editorial, Propose Merge without Discussion

#1510 1509 Drop obsolete/redundant text about "import schema" location hints
  specifications/xquery-40/src/query-prolog.xml
Labels: XQuery, Editorial, Propose Merge without Discussion

#1517 1516(A) Fix failing F&O examples
  specifications/xpath-functions-40/src/function-catalog.xml
Labels: XQFO, Editorial, Propose Merge without Discussion

#1518 Add to changes metadata
  specifications/xquery-40/src/expressions.xml
  specifications/xquery-40/src/query-prolog.xml
Labels: XPath, XQuery, Editorial, Propose Merge without Discussion

#1533 Actions QT4CG-095-01 and -02 - follow-up on computed node constructors
  specifications/grammar-40/xpath-grammar.xml
  specifications/xquery-40/src/back-matter.xml
  specifications/xquery-40/src/ebnf.xml
  specifications/xquery-40/src/expressions.xml
Labels: Editorial, Propose Merge without Discussion

#1531 1499 Deduplicate text relating to unused serialization parameters
  specifications/xslt-xquery-serialization-40/src/xslt-xquery-serialization.xml
Labels: Editorial, Serialization, Propose Merge without Discussion

#1529 1525 Add notes on enumeration types
  specifications/xquery-40/src/expressions.xml
Labels: XPath, Editorial, Propose Merge without Discussion

#1532 1519 Add -or-self axes
  specifications/grammar-40/xpath-grammar.xml
  specifications/xquery-40/src/expressions.xml
Labels: XPath, XQuery, Feature, Tests Needed

#1496 1495 Drop context value static type
  specifications/xquery-40/src/expressions.xml
  specifications/xquery-40/src/query-prolog.xml
  specifications/xslt-40/src/xslt.xml
Labels: XPath, XQuery, Editorial

#1501 1318 Function Coercion: Records, Maps, Arrays
  specifications/xquery-40/src/expressions.xml
Labels: Tests Needed

#1504 868 fn:intersperse → fn:join, array:join($arrays, $separator)
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
Labels: Tests Needed

#1497 1471 JSON Serialization: json-lines
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xslt-xquery-serialization-40/src/bibl.xml
  specifications/xslt-xquery-serialization-40/src/schema-for-serialization-parameters.xsd
  specifications/xslt-xquery-serialization-40/src/xslt-xquery-serialization.xml
Labels: Tests Needed

#1530 1500 New XSLT character-map() function
  specifications/xslt-40/src/function-catalog.xml
  specifications/xslt-40/src/xslt.xml
Labels: XSLT, Feature, Tests Needed
