Repository qt4cg/qtspecs, pull requests merged in 2025-07, with the labels that each got.

#2050 2040 Fix context value declaration issues
  specifications/xquery-40/src/query-prolog.xml
Labels: Bug, XQuery, Tests Needed, Propose Merge without Discussion

#2077 2016 File Module: Incorporate changes
  specifications/EXPath/file/src/file-functions.xml
  specifications/EXPath/file/src/function-catalog.xml
Labels: Enhancement, Tests Needed, EXPath

#2083 2054 Generalized Path Expressions
  specifications/grammar-40/xpath-grammar.xml
  specifications/image-sources/item-types.xml
  specifications/xpath-datamodel-40/src/xpath-datamodel.xml
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
  specifications/xquery-40/src/ebnf.xml
  specifications/xquery-40/src/expressions.xml
  specifications/xslt-xquery-serialization-40/src/xslt-xquery-serialization.xml
Labels: XPath, XQuery, Enhancement, Tests Needed

#2094 2003 Generalize Map Constructors
  specifications/grammar-40/xpath-grammar.xml
  specifications/xquery-40/src/expressions.xml
Labels: XPath, XQuery, Feature, Tests Added

#2043 2038 Tweak the rules for fn:apply-templates references to modes
  specifications/xslt-40/src/function-catalog.xml
  specifications/xslt-40/src/xslt.xml
Labels: XSLT, Enhancement, Tests Added, In Saxon 13

#2105 Fix type of `fn:schema-type-record` field `constructor`
  specifications/xpath-functions-40/src/function-catalog.xml
Labels: Propose Merge without Discussion

#2108 QT4CG-123-01 Add example of library module using methods
  specifications/xquery-40/src/query-prolog.xml
Labels: XQuery, Editorial, Tests Needed, Propose Merge without Discussion

#2109 2103 Allow operand of JNode accessors to be omitted or empty
  specifications/xpath-functions-40/src/function-catalog.xml
Labels: Enhancement, Tests Needed

#2110 2098 Clarify when jnode() is called implicitly
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xquery-40/src/expressions.xml
Labels: Editorial, Tests Needed

#2122 2066 CSS changes for function prototypes
  specifications/css/xpath-functions-40.css
Labels: XQFO, Editorial, Build

#2129 2099 Rename fn:jnode and jnode-type
  specifications/grammar-40/xpath-grammar.xml
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
  specifications/xquery-40/src/ebnf.xml
  specifications/xquery-40/src/expressions.xml
Labels: XPath, XQuery, XQFO, Editorial, Propose Merge without Discussion, Tests Added, In Saxon 13

#2115 2084 - document order of axis steps when context value is a sequence
  specifications/grammar-40/xpath-grammar.xml
  specifications/xquery-40/src/expressions.xml
Labels: XPath, XQuery, Editorial, Propose Merge without Discussion

#2114 2087 Change adaptive serialization of JNodes
  specifications/xslt-xquery-serialization-40/src/xslt-xquery-serialization.xml
Labels: Enhancement, Serialization, Tests Needed, Propose Merge without Discussion

#2130 Proposed new operator keywords: precedes, follows
  specifications/grammar-40/xpath-grammar.xml
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
  specifications/xquery-40/src/ebnf.xml
  specifications/xquery-40/src/expressions.xml
Labels: XPath, XQuery, Enhancement, Tests Added, In Saxon 13
