Repository qt4cg/qtspecs, pull requests merged in 2025-02, with the labels that each got.

#1756 Make DeltaXML diffs on the main build too
  .github/workflows/build-specs.yml
Labels: Build

#1744 Remove dead wood re: SVG diagrams from the XSLT build
  build.gradle
  specifications/xslt-40/style/dotml2dot.xsl
  specifications/xslt-40/style/xslt.xsl
Labels: Propose Merge without Discussion, Build

#1734 1682 Type promotion and operator mapping
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
  specifications/xquery-40/src/back-matter.xml
  specifications/xquery-40/src/expressions.xml
  style/xmlspec-2016.xsl
Labels: XPath, XQuery, XQFO, Editorial, Propose Merge without Discussion

#1753 1750 Overhaul of EXPath binary spec
  specifications/EXPath/binary/src/binary-functions.xml
  specifications/EXPath/binary/src/function-catalog.xml
  specifications/xpath-functions-40/src/fos.xsd
Labels: Editorial, Enhancement, Tests Needed

#1746 Replace processing model diagrams
  specifications/xquery-40/image-sources/ProcMod-XPath.vsd
  specifications/xquery-40/image-sources/ProcMod-XQuery.vsd
  specifications/xquery-40/image-sources/procmod-xpath.dot
  specifications/xquery-40/image-sources/procmod-xquery.dot
  specifications/xquery-40/images/ProcMod-XPath.gif
  specifications/xquery-40/images/ProcMod-XQuery.gif
  specifications/xquery-40/images/procmod-xpath.svg
  specifications/xquery-40/images/procmod-xquery.svg
  specifications/xquery-40/src/expressions.xml
Labels: XPath, XQuery, Editorial

#1743 1738 Formatting of Notes in F&O
  specifications/css/qtspecs.css
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
  specifications/xpath-functions-40/style/merge-function-specs.xsl
  style/character-names.json
  style/xmlspec-2016.xsl
Labels: XQFO, Editorial, Propose Merge without Discussion, Build

#1760 Remove hand-generated diffs from the builds
  README.md
  build.gradle
  specifications/EXPath/binary/src/binary-functions.xml
  specifications/EXPath/file/src/file-functions.xml
  specifications/css/showdiff.css
  specifications/xpath-datamodel-40/src/xpath-datamodel.xml
  specifications/xpath-datamodel-40/style/data-model-diff-save.xsl
  specifications/xpath-datamodel-40/style/data-model-diff.xsl
  specifications/xpath-functions-40/src/xpath-functions.xml
  specifications/xpath-functions-40/style/fo-diff.xsl
  specifications/xpath-functions-40/style/xpath-functions-diff.xsl
  specifications/xquery-40/src/xquery-header.xml
  specifications/xslt-40/src/xslt.xml
  specifications/xslt-40/style/diff.xsl
  specifications/xslt-40/style/strip-diff.xsl
  specifications/xslt-40/style/xslt-diff.xsl
  specifications/xslt-40/style/xslt.xsl
  specifications/xslt-40/style/xsltdiff-cleanup.xsl
  specifications/xslt-xquery-serialization-40/src/xslt-xquery-serialization.xml
  specifications/xslt-xquery-serialization-40/style/serialization.xsl
  style/xsl-query-2016.xsl
Labels: Propose Merge without Discussion, Build

#1741 1739 drop references to ordering mode in the static context
  specifications/xpath-functions-40/src/function-catalog.xml
Labels: Bug, XQFO, Tests Needed, Propose Merge without Discussion

#1759 Fix validation issues in the EXPath module function catalogs
  build.gradle
  specifications/EXPath/binary/src/function-catalog.xml
  specifications/EXPath/file/src/function-catalog.xml
  specifications/EXPath/style/generate-test-set.xsl
Labels: Propose Merge without Discussion, Build

#1768 Inline SVG images
  build.gradle
  style/xmlspec-2016.xsl
  style/xsl-query-2016.xsl
Labels: Build

#1772 1770 Default priority of rules with a union pattern
  specifications/xslt-40/src/xslt.xml
Labels: XSLT, Enhancement, Tests Needed

#1765 1751 Clarify BOM handling
  specifications/EXPath/binary/src/binary-functions.xml
  specifications/EXPath/binary/src/function-catalog.xml
Labels: Enhancement, Tests Needed, Propose Merge without Discussion, EXPath

#1793 1792 Make function-catalog file schema-valid
  specifications/EXPath/binary/src/function-catalog.xml
Labels: Bug, Build

#1810 1808 Add -> to list of tokens using lt and gt characters
  specifications/xquery-40/src/ebnf.xml
Labels: Bug, XPath, XQuery, Propose Merge without Discussion, Tests Added

#1809 1807 Two exceptions to the rule, not three
  specifications/xquery-40/src/expressions.xml
Labels: XPath, XQuery, Editorial, Propose Merge without Discussion

#1806 1805 Drop middle dots from termref rendition in F+O
  specifications/xpath-functions-40/style/extract-sig.xsl
  specifications/xpath-functions-40/style/xpath-functions.xsl
Labels: XQFO, Editorial, Propose Merge without Discussion, Build

#1804 Drop "(Non-Normative)" from ToC
  style/xmlspec-2016.xsl
Labels: Editorial, Propose Merge without Discussion, Build

#1802 1785 Fix two simple grammar bugs
  specifications/grammar-40/xpath-grammar.xml
Labels: Propose Merge without Discussion

#1790 1788 Replace statement that maps are unordered
  specifications/xpath-functions-40/src/xpath-functions.xml
Labels: XQFO, Editorial, Tests Needed, Propose Merge without Discussion

#1769 Add links from processing model diagrams
  specifications/xquery-40/image-sources/procmod-xpath.dot
  specifications/xquery-40/image-sources/procmod-xquery.dot
  specifications/xquery-40/images/procmod-xpath.svg
  specifications/xquery-40/images/procmod-xquery.svg
  specifications/xquery-40/src/expressions.xml
Labels: XPath, XQuery, Editorial, Propose Merge without Discussion

#1791 1789 Fix singleton terminology
  specifications/xpath-datamodel-40/src/xpath-datamodel.xml
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
  specifications/xquery-40/src/expressions.xml
Labels: XPath, XQFO, XDM, Editorial

#1763 1716 Generalize syntax of arrow expressions
  specifications/grammar-40/xpath-grammar.xml
  specifications/xquery-40/src/expressions.xml
Labels: XPath, XQuery, Enhancement, Tests Needed

#1822 Fix the generated appendixes in the Data Model
  specifications/xpath-datamodel-40/src/xpath-datamodel.xml
  specifications/xpath-datamodel-40/style/data-model.xsl
Labels: Editorial, Build

#1831 1827 Fix excess whitespace in TOC
  style/xmlspec-2016.xsl
  style/xsl-query-2016.xsl
Labels: XPath, XQuery, Editorial, Build

#1814 1813 Reorganise the XDM spec at top level
  specifications/xpath-datamodel-40/src/attribute.xml
  specifications/xpath-datamodel-40/src/comment.xml
  specifications/xpath-datamodel-40/src/document.xml
  specifications/xpath-datamodel-40/src/element.xml
  specifications/xpath-datamodel-40/src/namespace.xml
  specifications/xpath-datamodel-40/src/processing-instruction.xml
  specifications/xpath-datamodel-40/src/text.xml
  specifications/xpath-datamodel-40/src/xpath-datamodel.xml
Labels: XDM, Editorial, Propose Merge without Discussion

#1824 1823 Revise top-level headings in F+O spec
  specifications/xpath-functions-40/src/xpath-functions.xml
Labels: XQFO, Editorial, Propose Merge without Discussion

#1826 Fix grammar bug #1818
  specifications/grammar-40/xpath-grammar.xml
Labels: Bug, XPath, XQuery, Propose Merge without Discussion

#1825 1816 New function fn:partial-apply
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
Labels: XQFO, Feature, Tests Needed

#1833 583 Drop map:replace and array:replace
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
Labels: XQFO, Tests Needed, Reversion

#1837 1834 Additional clarification on JSON lines
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xslt-xquery-serialization-40/src/xslt-xquery-serialization.xml
Labels: Editorial, Serialization

#1828 1815 Add more detail on annotations of function items
  specifications/xpath-datamodel-40/src/xpath-datamodel.xml
  specifications/xquery-40/src/expressions.xml
Labels: XQuery, Enhancement, Tests Added

#1830 1829 Reintroduce restrictions on RHS of `=>`
  specifications/grammar-40/xpath-grammar.xml
  specifications/xquery-40/src/expressions.xml
Labels: Bug, XPath, XQuery, Tests Added, Reversion, In Saxon 13

#1817 1800 Methods
  specifications/grammar-40/xpath-grammar.xml
  specifications/xquery-40/src/ebnf.xml
  specifications/xquery-40/src/expressions.xml
  specifications/xquery-40/src/query-prolog.xml
Labels: XPath, XQuery, Enhancement, Tests Needed
