Repository qt4cg/qtspecs, pull requests merged in 2025-06, with the labels that each got.

#2044 Hide `MarkedNCName` from XPath spec
  specifications/grammar-40/xpath-grammar.xml
Labels: XPath, Editorial, Propose Merge without Discussion

#2042 2041 Correction to xsl:namespace-alias example
  specifications/xslt-40/src/xslt.xml
Labels: XSLT, Editorial, Propose Merge without Discussion

#2055 37 Sequence, Array, and Map destructuring
  specifications/grammar-40/xpath-grammar.xml
  specifications/xquery-40/src/expressions.xml
Labels: XPath, XQuery, Feature, Tests Needed, Propose Merge without Discussion

#2015 2009 Avoid constructing document node when it makes no sense
  specifications/xslt-40/src/xslt.xml
Labels: XSLT, Enhancement, Tests Added, In Saxon 13

#2064 2056 Implicit Whitespace in MarkedNCName and QNameLiteral
  specifications/grammar-40/xpath-grammar.xml
Labels: XPath, Editorial, Tests Needed

#2065 1970 Editorial notes
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xquery-40/src/errors.xml
  specifications/xquery-40/src/expressions.xml
Labels: Editorial

#2062 2017 fn:sort-by: Observations
  specifications/xpath-functions-40/src/function-catalog.xml
Labels: XQFO, Tests Needed

#2060 2059 Literal QNames: Adaptive serialization
  specifications/xslt-xquery-serialization-40/src/xslt-xquery-serialization.xml
Labels: Enhancement, Serialization, Tests Needed
