Repository qt4cg/qtspecs, pull requests merged in 2025-08, with the labels that each got.

#2151 2021 Move the section on Patterns to a more logical place in the spec
  specifications/xslt-40/src/xslt.xml
Labels: XSLT, Editorial, Propose Merge without Discussion

#2158 2157 Editorial updates to F+O §5.5 (Unicode collations)
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xpath-functions-40/src/xpath-functions.xml
Labels: XQFO, Editorial, Propose Merge without Discussion

#2146 Require at least one character in StringTemplateFixedPart
  specifications/grammar-40/xpath-grammar.xml
Labels: Bug, XPath, Propose Merge without Discussion

#2135 QT4CG-131-01/02 Expand on example as actioned
  specifications/xquery-40/src/expressions.xml
Labels: Propose Merge without Discussion

#2147 2143 Redesign of method calls
  specifications/grammar-40/xpath-grammar.xml
  specifications/xquery-40/src/expressions.xml
  specifications/xquery-40/src/query-prolog.xml
  specifications/xslt-40/src/xslt.xml
Labels: XPath, XQuery, XSLT, Enhancement, Tests Needed

#2134 1996 Lookups, KeySpecifier: Literal, ContextValueRef
  specifications/grammar-40/xpath-grammar.xml
  specifications/xquery-40/src/expressions.xml
Labels: XPath, Tests Needed

#2133 2132 error handling in logical expressions
  specifications/xpath-functions-40/src/function-catalog.xml
  specifications/xquery-40/src/expressions.xml
Labels: Bug, XPath, XQuery, Tests Added, In Saxon 13

#2149 2100 Make innermost, outermost, has-children, path apply to JNodes
  specifications/xpath-functions-40/src/function-catalog.xml
Labels: XQFO, Enhancement, Tests Needed

#2164 Fix return type in `fn:parse-csv` signature
  specifications/xpath-functions-40/src/function-catalog.xml
Labels: Propose Merge without Discussion

#2116 2112 Refine/revise the rules for get() in node tests
  specifications/grammar-40/xpath-grammar.xml
  specifications/xquery-40/src/expressions.xml
Labels: XPath, XQuery, Editorial, Tests Needed
